.navbar {
    .navbar-menu {
        @media screen and (max-width: $desktop) {
            // opacity: 0;
            height: 0;
            transition: height 0.35s linear;
            &.is-active {
                // opacity: 1;
                height: auto;
            }
        }
    }
    .navbar-item {
        &.is-active {
            color: $pink;

            @media screen and (min-width: $desktop) {
                border-bottom: $pink 2px solid;
            }
        }
    }
}
