.navbar {
    .navbar-menu {
        @media screen and (max-width: $desktop) {
            // opacity: 0;
            height: 0;
            transition: height 0.35s linear;
            &.is-active {
                // opacity: 1;
                height: auto;
            }
        }
    }

    .navbar-end {
        .navbar-item {
            &.is-active {
                color: $pink;
            }

            @media (min-width: $desktop) {
                &:not(.is-active) {
                    &::after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 3px;
                        background: $pink;
                        transition: width 0.3s;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }

            // &.is-active {
            //     color: $pink;

            //     @media screen and (min-width: $desktop) {
            //         border-bottom: $pink 2px solid;
            //         &::after {
            //             background: #fff;
            //         }
            //         &:hover {
            //             &::after {
            //                 @media screen and (min-width: $desktop) {
            //                     width: 100%;
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
}
